#myH1{
    font-size: 5rem;
}

#myBtn{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px,15px;
}


.enabled{
    background-color: lightblue;
    color: rgb(112, 112, 112);
}

.hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
    font-weight: bold;
}

.disabled{
    background-color: grey;
    color: black;
}